

  <div class="container mt-5">
    <!-- Row for the heading -->
    <div class="row text-center mb-4">
      <div class="col-12">
        <h1 class="display-4 mt-3">Welcome to the Receipt Scanner</h1>
        <p class="lead">Scan and digitize your receipts effortlessly</p>
      </div>
    </div>
  
    <!-- Row for the content -->
    <div class="row">
      <!-- Right Column - Text Content -->
      <div class="col-lg-6">
        <div class="mt-5">
            <h4>How It Works</h4>
            <p>Upload your receipt image or PDF file, and let our app extract the key details!</p>
            <ul class="list-group">
              <li class="list-group-item">Image or PDF Upload</li>
              <li class="list-group-item">OCR Scanning</li>
              <li class="list-group-item">Automatic Data Extraction</li>
            </ul>
          </div>
      </div>
    </div>
  </div>
  
  